.page-container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

:root{
    --pd : 50px;
    --white : #ffffff;
    --blue : #4976db;
    --gray : rgb(117, 117, 117);
}

body{
    font-family: 'Jura';
}

.nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: var(--pd);
    padding-bottom: var(--pd);
}

h1,h3,a{
    color: var(--white)
}   

p,h6{
    color:var(--gray);
}

.link{
    text-decoration: none;
    color: var(--white);
    font-size: large;
}

.link:hover, a:hover{
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.link-container{
    display: flex;
    gap:12px;
}

.content-make{
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 10px;
    border: 1px solid gray;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.7);
} 

.content-left {
    display: flex;
    flex-direction: row;
}

.content-left-img {
    width: 60px;
}

.content-left-img img {
    width: 50px;
}

.content-left-id {
    display: flex;
    flex-direction: column-reverse;
}

.content-right {
    display: flex;
    flex-direction: row;
}

.content-right-main{
    display: flex;
    flex-direction: column;
}

.content-right-main-tag a{
    margin-right: 5px;
    padding: 5px;
}
.content-right-main-tag a:hover{
    border: 1px solid var(--blue);
    transition: 1s;
}



.content a {
 text-decoration: none;
}




.video, video:before {
    height: 100%;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
}

@media only screen and (max-width: 750px) {

    .nav-container {
       flex-wrap: wrap;
    }
    .link-container{
        flex-wrap: wrap;
    }
  }
